@mixin categories-title-style($color){
	display: inline-block;
	width: 100%;
	text-align: center;
	font-size: 8vw;
	font-weight: 900;
	letter-spacing: 0.4px;
	color: $color;
	margin: 0px;
}

listing-page {
	$categories-heading-image-height: 150px;
	$categories-grid-padding: 10px;
	$categories-horizontal-list-padding: 10px;

	.listing-header	{
		.header-logo {
			width: 35vw;
		}
	}

	.listing-content {

		.heard_toolbar {
			height: 40px;
			padding: 0px;
			border: none;

			.head-row {
				margin: 0px;
				padding: 0px;
				border: 0px;
				background: $theme-color-1;
				text-align: center;

				.head-button{
					color: $theme-color-3;
					font-size: 4vw;
				}

				.head-active-button{
					/*background-color: $theme-color-4;*/
					
					.head-button{
						color: $theme-color-2;
						font-weight: 600;
					}
				}
			}
		}

		.action-bar-button {
			text-align: center;
			color: $theme-color-2;
			font-size: 1.8rem;
			font-weight: 600;
			margin: 0px;
			padding: 0px;
		}

		.item-card-content {
			position: relative;
			margin-bottom: 20px;

			.item-profile {
				background: $white-a;
			}

			.item-title {
				font-size: 1.8rem;
				font-weight: 400;
				padding: 0px;
			}

			.item-text {
				font-size: 1.4rem;
				color: $black-c;
				padding: 0px;
			}

			.status-row {
				text-align: center;
				padding: 5px;
			}

			ion-badge {
				background: $theme-color-2;
			}

			.price-badge {
				z-index: 10;
			  position: relative;
			  top: 290px;
			 	left: 70%;
			  font-size: 1.6rem;
			  font-weight: 400;
			  opacity: 0.7;
			  padding: 6px;
			}

			.button-inner{
				color: $theme-color-2;
			}

		}


		.categories-title {
			font-size: 1.4rem;
			font-weight: 400;
			letter-spacing: 0.7px;
			color: $black-d;
			margin: 8px 16px 16px;
		}

		.horizontal-categories {
			border-bottom: 10px solid $white-a;
			@include element-shadow();
			margin-bottom: 26px;
			padding-bottom: 16px;

			.scroll-content	{
				position: relative;
			}

			preload-image {
				border-radius: 50%;

				img	{
					border-radius: 50%;
				}
			}

			.categories-row	{
				&::after{
					content: '';
					flex: 0 0 $categories-horizontal-list-padding;
			    max-width: $categories-horizontal-list-padding;
				}
			}

			.horizontal-item {
				padding: 0px 0px 0px $categories-horizontal-list-padding;
			}
		}

		.grid-categories {
			padding: 0px ($categories-grid-padding/2);
			@include flex-wrap(wrap);

			.category-item {
				padding: 0px ($categories-grid-padding/2) $categories-grid-padding;

				.category-heading	{
					padding-bottom: 100%;

					.bg-overlay	{
						z-index: 1;
						background-color: rgba($black-c, .6);
					}

					ion-spinner {
						z-index: 2;
					}

					@include spinner-color($white);

					.heading-row {
						height: 100%;
						z-index: 3;
		  			position: absolute;
						@include align-items(center);

						.category-title	{
							@include categories-title-style($white);
						}
					}
				}
			}
		}
	}
}


ion-alert.category-prompt {
	.alert-wrapper
	{
		width: 80%;
		background-color: $white;
	}

	.alert-head
	{
		padding-bottom: 20px;

		.alert-title
		{
			font-size: 2.0rem;
			line-height: 1.2;
			letter-spacing: 1.1px;
			color: $theme-color-2;
			font-weight: 400;
		}
	}

	.alert-message:empty
	{
		display: none;
	}

	.alert-checkbox-group
	{
		border: none;
		padding: 0px 20px;

		.alert-checkbox
		{
			margin: 14px 0px;

			.alert-checkbox-label
			{
				border-radius: 6px;
				font-size: 1.4rem;
				font-weight: 500;
				letter-spacing: 0.2px;
				background-color: $white-a;
				color: $theme-color-2;
				text-align: center;
				@include element-shadow();
			}

			&[aria-checked=true] .alert-checkbox-label
			{
				background-color: $theme-color-2;
				color: $white;
			}

			.alert-checkbox-icon
			{
				display: none;
			}
		}
	}

	.alert-button-group
	{
		padding: 14px 0px;

		.alert-button
		{
			@include segment-text-styles($white-d);
			border-top: none;
		  border-right-color: rgba($white-d, 0.3);
			font-weight: 400;

			&:last-child
			{
			  font-weight: 500;
				color: $theme-color-2;
			}
		}
	}
}
