@mixin categories-title-style($color){
	display: inline-block;
	width: 100%;
	text-align: center;
	font-size: 8vw;
	font-weight: 900;
	letter-spacing: 0.4px;
	color: $color;
	margin: 0px;
}

listing-page {
	$categories-heading-image-height: 150px;
	$categories-grid-padding: 10px;
	$categories-horizontal-list-padding: 10px;

	.listing-header	{
		.header-logo {
			width: 35vw;
		}
	}

	.listing-content {

		.heard_toolbar {
			height: 40px;
			padding: 0px;

			.head-row {
				margin: 0px;
				padding: 0px;
				border: 0px;
				background: $theme-color-1;
				text-align: center;

				.head-button{
					color: $white-c;
					font-size: 4vw;
				}

				.head-active-button{
					border-bottom: 4px;
					border-color: $theme-color-4;
					/*background-color: $theme-color-4;*/
					
					.head-button{
						color: $white;
						font-weight: 600;
					}
				}
			}
		}

		.item-card-content {
			position: relative;
			margin-bottom: 20px;

			.item-profile {
				background: $white-a;
			}

			.item-title {
				font-size: 1.8rem;
				font-weight: 400;
				padding: 0px;
			}

			.item-text {
				font-size: 1.4rem;
				color: $black-c;
				padding: 0px;
			}

			.price-badge {
				z-index: 10;
			  position: absolute;
			  top: 180px;
			  right: 10px;
			  font-size: 1.6rem;
			  font-weight: 400;
			  background: $theme-color-2;
			  opacity: 0.8;
			  padding: 6px;
			}

		}

		.categories-title {
			font-size: 1.4rem;
			font-weight: 400;
			letter-spacing: 0.7px;
			color: $black-d;
			margin: 8px 16px 16px;
		}

		.horizontal-categories {
			border-bottom: 10px solid $white-a;
			@include element-shadow();
			margin-bottom: 26px;
			padding-bottom: 16px;

			.scroll-content	{
				position: relative;
			}

			preload-image {
				border-radius: 50%;

				img	{
					border-radius: 50%;
				}
			}

			.categories-row	{
				&::after{
					content: '';
					flex: 0 0 $categories-horizontal-list-padding;
			    max-width: $categories-horizontal-list-padding;
				}
			}

			.horizontal-item {
				padding: 0px 0px 0px $categories-horizontal-list-padding;
			}
		}

		.grid-categories {
			padding: 0px ($categories-grid-padding/2);
			@include flex-wrap(wrap);

			.category-item
			{
				padding: 0px ($categories-grid-padding/2) $categories-grid-padding;

				.category-heading
				{
					padding-bottom: 100%;

					.bg-overlay
					{
						z-index: 1;
						background-color: rgba($black-c, .6);
					}

					ion-spinner {
						z-index: 2;
					}

					@include spinner-color($white);

					.heading-row
					{
						height: 100%;
						z-index: 3;
		  			position: absolute;
						@include align-items(center);

						.category-title
						{
							@include categories-title-style($white);
						}
					}
				}
			}
		}
	}
}
