<ion-header class="listing-header">
  <ion-navbar>

    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
      <!-- <ion-icon ios="ios-contact" md="md-contact"></ion-icon> -->
      <!-- <ion-icon ios="ios-arrow-back" md="md-arrow-back"></ion-icon> -->
    </button>

    <ion-title>
      <div class="header-logo">
        Yuplate
        <!-- <preload-image [ratio]="{w:583, h:100}" src="./assets/images/header_logo_white.png"></preload-image> -->
      </div>
    </ion-title>

    <ion-buttons end>
      <button ion-button icon-only color="royal">
        <ion-icon name="md-chatboxes"></ion-icon>
      </button>
    </ion-buttons>

  </ion-navbar>
</ion-header>

<ion-content class="listing-content">

  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>


  <!--     <ion-col col-center width-100>
      <h2 class="main-title">{{listing.banner_title}}</h2>
    </ion-col> -->

<!--   <h4 class="categories-title">Popular</h4>
  <ion-scroll scrollX="true" class="horizontal-categories">
    <ion-row class="categories-row"> -->
<!--       <ion-col width-30 class="horizontal-item" *ngFor="let popular of items.populars">
        <preload-image [ratio]="{w:1, h:1}" [src]="popular.image" title="popular.title"></preload-image>
      </ion-col> -->
<!--     </ion-row>
  </ion-scroll> -->

<!--   <ion-searchbar>
  </ion-searchbar> -->

<!--   <ion-row class="grid-categories">
    <ion-col width-50 class="category-item" *ngFor="let category of categories">
      <background-image class="category-heading" [src]="category.image" (click)="goToFeed(category)">
        <ion-row class="heading-row">
          <ion-col no-padding width-100>
            <h2 class="category-title">{{category.label}}</h2>
          </ion-col>
        </ion-row>
      </background-image>
    </ion-col>
  </ion-row> -->

  <ion-searchbar
    (ngModel)="search_query"
    [showCancelButton]="false"
    (ionInput)="updateSearch($event)"
    placeholder="Search"
    autocomplete="true"
    spellcheck="true"
    debounce="2000"
    color="light">
  </ion-searchbar>

  <ion-row>
    <ion-col width-25 text-center>
        <button ion-button small icon-only clear no-padding class="action-bar-button" (click)="listingType(0)">
          <ion-icon name="ios-heart-outline"></ion-icon>
        </button>
    </ion-col>
    <ion-col width-25 text-center>
        <button ion-button small icon-only clear no-padding class="action-bar-button" (click)="setCategoryFilter()">
          <ion-icon name="ios-browsers-outline"></ion-icon>
        </button>
    </ion-col>
    <ion-col width-25 text-center>
        <button ion-button small icon-only clear no-padding class="action-bar-button" (click)="listingType(0)" (click)="locationModalPage()">
          <ion-icon name="ios-navigate-outline"></ion-icon>
        </button>
    </ion-col>
    <ion-col width-25 text-center>
        <button ion-button small icon-only clear no-padding class="action-bar-button"
        (click)="filterModalPage()" >
        <!-- (click)="toggleActionBar('searchbar')" -->
          <!-- <ion-icon name="ios-search-outline"></ion-icon> -->
          <ion-icon name="ios-funnel-outline"></ion-icon>
        </button>
    </ion-col>
  </ion-row>

  <h4 class="categories-title">Most popular</h4>

  <!-- <ion-row class="feed-item"> -->

    <ion-list no-lines>

      <ion-card 
        class="item-card-content" 
        *ngFor="let listing of listings; let index = index ">

        <preload-image [ratio]="{w:4, h:3}" [src]="listing.medias[0].media_path"
        (click)="listingDetails(index)">
        </preload-image>

<!--    <ion-slides [options]="slideOptions">
          <ion-slide *ngFor="let media of listing.medias" style="background-color: white">
            <preload-image [ratio]="{w:3, h:2}" [src]="media.media_path" title="listing.title"></preload-image>
          </ion-slide>
        </ion-slides> -->
        <ion-badge class="price-badge" item-right>
          {{ listing.currency }}
          {{ listing.main_price }}
        </ion-badge>

      
        <!-- <ion-card-content> -->
          <ion-card-title class="item-title">
            {{ listing.title }}
          </ion-card-title>
<!--           <p class="item-text">
            {{ listing.summary }}
          </p> -->
          <p class="item-text">
            <ion-badge item-right *ngIf="listing.delivery">
              Delivery
            </ion-badge>
            <ion-badge item-right *ngIf="listing.carryout">
              Carryout
            </ion-badge>
            <ion-badge item-right *ngIf="listing.shipping">
              Shipping
            </ion-badge>
<!--             <ion-badge item-right>
              {{ listing.listing_type }}
            </ion-badge>
            <ion-badge item-right>
             {{ listing.unit_value }} {{ listing.measure_unit }} 
            </ion-badge>    -->   
          </p>
        <!-- </ion-card-content> -->

        <ion-row class="status-row">
          <ion-col no-padding width-35 text-center>
            <rating [ngModel]="listing.total_rate" max="5" read-only="true"></rating>
          </ion-col>
          <ion-col no-padding width-40 text-center>
            <button class="action-button" ion-button clear small icon-left>
              <ion-icon name='chatbubbles'></ion-icon>
              {{listing.total_reviews}} Reviews
            </button>
          </ion-col>
          <ion-col no-padding width-25 text-right>
            <button class="action-button" ion-button clear small icon-left>
              <ion-icon name='share-alt'></ion-icon>
              Share
            </button>
          </ion-col>
        </ion-row>

        <ion-item item-right class="item-profile">
          <ion-avatar item-left>
            <img src="{{listing.profile?.image}}">
          </ion-avatar>
          <h2>{{ listing.profile?.fullName }}</h2>
          <p>{{ listing.profile?.location }}</p>
        </ion-item>

      </ion-card>

    </ion-list>

   <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
     <ion-infinite-scroll-content loadingSpinner="dots"
      loadingText="Loading more data..."></ion-infinite-scroll-content>
   </ion-infinite-scroll>


  <!-- </ion-row> -->

  <h4 class="categories-title">Browse categories</h4>

  <ion-row class="grid-categories">
    <!-- <ion-col width-50 class="category-item" *ngFor="let category of listing.categories">
      <background-image class="category-heading" [src]="category.image" (click)="goToFeed(category)">
        <ion-row class="heading-row">
          <ion-col no-padding width-100>
            <h2 class="category-title">{{category.title}}</h2>
          </ion-col>
        </ion-row>
      </background-image>
    </ion-col> -->
  </ion-row>

</ion-content>
