page-listing-form-desc {

	.form-content {
		background-color: $white-a;

		.form-style {

			.form-section	{
				padding: 0px 5px;
				padding-bottom: 10px;

				.item:first-child	{
					margin-top: 10px;
				}
			}

			ion-item {
				@include basic-input-style(color($colors, background, base), $black-b, $white-d);

				&:first-of-type {
					margin-top: 0px;
				}
			}

			.section-title {
				@include segment-introduction($theme-color-2);
			}

		}

	}

}
