page-listing-order {

	.order-content {
		background-color: color($colors, background, base);

		.form-style {

			@include basic-list-styles($black-d, $black-a);
			ion-item {
				font-size: 1.6rem;

				.text-title {
					white-space: pre-line;
					font-size: 1.8rem;
					font-weight: 500;
				}

				.price-label {
					margin: 0px; 
					text-align: left;
					color: $theme-color-2;
					font-weight: 600;
				}
			}


			.delivery-options {
				padding: 0px 10px 0px 10px;

				.segment-button {
					&.segment-activated	{
						font-weight: 600;
					}
				}
			}

			.content-row {
				@include align-items(center);

				.item-content {
					@include align-content(stretch);
				  @include display(flex);
				  @include flex-wrap(wrap);
				  @include align-self(stretch);

				}
			}


			@include basic-input-style($white, $input-color, $white-d);
			.text-input {
				padding-right: 5px;
				text-align: right;
			}

			@include counter-item-styles($black-c, $input-color, $white);
			.checkout-button {
				background-color: $theme-color-2;
				/*@include call-to-action-button-styles($theme-color-2, $white);*/
			}

			.content-text {
				margin: 0px;
				padding-left: 5px;
				white-space: pre-line;
			}

			.list-sub-header {
				font-size: 1.2rem;
				font-weight: 400;
				color: $text-color;
				text-transform: none;
			}


			.multi-input-row {
				background-color: $white;
				@include align-items(flex-end);

				ion-col {
					padding: 0px;

					&:first-child{
						padding-left: 0px;
					}

					&:last-child{
						padding-right: 0px;
					}
				}

				.multi-input	{
					margin: 0px;

					ion-datetime {
						padding-left: 0px;
						.datetime-text	{
							color: $theme-color-2;
						}
					}
				}
			}

		}
	}

	.checkout-footer {
		background-color: $white;
		padding: 10px;
		margin: 0px;


			.footer-text {
				text-align: left;
				line-height: 6px;
				padding: 5px 0 0 5px;
				margin: 0px;
			}

			.footer-rate {
				font-size: 1.0em;
				margin: 0px;
				padding: 0px;
			}

			.checkout-button {
				@include call-to-action-button-styles(color($colors, button, base), color($colors, button, contrast));
				padding: 5px 30px 5px 30px;
				margin: 0px;

				.button-inner	{
					margin: 0px;
					padding: 0px;
				} 
			}
	}


}
