<ion-header>
  <ion-navbar>
    <ion-buttons end>
      <button ion-button (click)="dismiss()">
        Cancel
      </button>
    </ion-buttons>
    <ion-title>Order</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="order-content">
	<form class="form-style" [formGroup]="formOrder">
    <ion-list>
    	<ion-item-divider>Your Order</ion-item-divider>
    	<ion-item item-left>
        <ion-row>
          <ion-col width-30>
            <preload-image [ratio]="{w:1, h:1}" [src]="listing.medias[0].media_path">
            </preload-image>
          </ion-col>
          <ion-col widht-70>
            <p class="text-title" text-left>{{ listing.title }}</p>
            <p text-left>{{ listing.measure_unit }}: {{ listing.unit_value }}</p>
<!--             <p text-left>{{ listing.listing_type }}</p> -->
            <div class="price-label" item-right>
              {{ listing.main_price | currency: listing.currency: true:'1.2-2' }}
            </div>
          </ion-col>
        </ion-row>

		  </ion-item>
		</ion-list>

    <ion-list class="delivery-options">
      <!-- <ion-list-header> Delivery Options </ion-list-header> -->
      <ion-item-divider> Delivery Options </ion-item-divider>
      <ion-segment color="dark" formControlName="delivery_option">
        <ion-segment-button value="Delivery" *ngIf="listing.delivery">
          Delivery
        </ion-segment-button>
        <ion-segment-button value="Carryout" *ngIf="listing.carryout">
          Carryout
        </ion-segment-button>
        <ion-segment-button value="Shipping" *ngIf="listing.shipping">
          Shipping
        </ion-segment-button>
      </ion-segment>
    </ion-list>

    <div [ngSwitch]="formOrder.value.delivery_option">
  		<ion-list>
  			<!-- <ion-list-header>Set the Quantity</ion-list-header> -->
        <ion-item class="counter-item">
  	      <h2 class="counter-label">Quantity</h2>
  	      <counter-input formControlName="quantity" (ngModelChange)="setTotalPrice($event)" [min]="1" [max]="8"></counter-input>
  	    </ion-item>
        <ion-item>
          <h2>Order Subtotal:</h2>
          <h2 item-right>{{subtotal | currency: listing.currency: true:'1.2-2' }}</h2>
  	    </ion-item>
        <ion-item *ngSwitchCase="'Delivery'">
          <h2>Delivery Fee:</h2>
          <h2 item-right>{{listing.delivery_fee | currency: listing.currency: true:'1.2-2' }}</h2>
        </ion-item>
        <ion-item *ngSwitchCase="'Shipping'">
          <h2>Shipping Fee:</h2>
          <h2 item-right>{{listing.shipping_fee | currency: listing.currency: true:'1.2-2' }}</h2>
        </ion-item>
        <ion-item>
          <h2>Estimated Tax:</h2>
          <h2 item-right>$0.00</h2>
        </ion-item>
        <ion-item>
          <ion-label>Total:</ion-label>
          <ion-input class="number-input" readonly formControlName="total_price" ></ion-input>
        </ion-item>
  	  </ion-list>

      <ion-list *ngIf="formOrder.value.delivery_option == 'Delivery' || formOrder.value.delivery_option == 'Shipping'">
        <ion-item-divider>
          <p *ngSwitchCase="'Delivery'">Delivery Address</p>
          <p *ngSwitchCase="'Shipping'">Shipping Address</p>
          <div class="list-sub-header">
            Your address will be shown only after confirmed
          </div>
        </ion-item-divider>

        <ion-item *ngSwitchCase="'Shipping'">
          <h2 class="content-title" ion-text>
            Ready to ship in
          </h2>
          <p class="content-text">{{listing.shipping_processing_time}}</p>
        </ion-item>

        <ion-item *ngSwitchCase="'Delivery'">
          <h2 class="content-title" ion-text>
            Processing time
          </h2>
          <p class="content-text">{{listing.delivery_processing_time}}</p>
        </ion-item>

        <ion-item *ngIf="primaryAddress?.primary" class="address-primary">
          <h2 class="address-title">{{ primaryAddress?.full_name }}</h2>
          <p>{{ primaryAddress?.street_1 }}</p>
          <p>{{ primaryAddress?.city }}, {{ primaryAddress?.state }} {{ primaryAddress?.zip_code }}</p>
          <p>{{ primaryAddress?.country }}</p>
          <h2 item-right *ngIf="primaryAddress?.primary">Primary</h2>
        </ion-item>
        <button ion-item (click)="setAddress()">
          Add a new Address
        </button>
      </ion-list>

      <ion-list *ngSwitchCase="'Carryout'">
        <ion-item-divider>
          Carryout Address
        </ion-item-divider>
        <ion-item>
          <h2 class="content-title" ion-text>
            Processing time
          </h2>
          <p class="content-text">{{listing.delivery_processing_time}}</p>
        </ion-item>
        <ion-item>
          <h2>Pickup location will be shown after confimed</h2>
        </ion-item>
      </ion-list>
    </div>

  </form>

  <form class="form-style" [formGroup]="formSchedule" *ngIf="formOrder.value.delivery_option == 'Delivery' || formOrder.value.delivery_option == 'Carryout'">
    <ion-list radio-group>

      <ion-item *ngIf="!isAvailableToday">
        <h2>Not Available Today</h2>
        <p>You can schedule a delivery to the next available day.</p>
      </ion-item>
      <ion-item *ngIf="isAvailableToday">
        <ion-label>Take it today ASAP</ion-label>
        <ion-radio value="schuedule_asap" (click)="setScheduleDelivery('intime')"></ion-radio>
      </ion-item>

      <ion-item>
        <ion-label>Schedule Delivery</ion-label>
        <ion-radio value="schedule_delivery" (click)="setScheduleDelivery('schedule')"></ion-radio>
      </ion-item>
    </ion-list>

    <ion-list *ngIf="schedule_delivery == 'intime'">
      <ion-item-divider>
        Estimated Delivery
      </ion-item-divider>
      <ion-item>
        <h2 color="secondary" >{{ take_today.calendar() }}</h2>
      </ion-item>
    </ion-list>

    <ion-list *ngIf="schedule_delivery == 'schedule'">
      <ion-item-divider>
        Schedule your delivery
      </ion-item-divider>

      <ion-row no-padding class="multi-input-row">
        <ion-col width-60>
          <ion-item class="multi-input time-item">
            <ion-label>Date</ion-label>
            <ion-datetime formControlName="schedule_day" displayFormat="MMM DD DDD" pickerFormat="YYYY MMM DD" (ionChange)="setTimeRange()" [min]="dateMin" [max]="dateMax" [monthValues]="monthValues" [dayValues]="dayValues">
            </ion-datetime>
          </ion-item>
        </ion-col>
        <ion-col width-40>
          <ion-item class="multi-input time-item">
            <ion-label>Time</ion-label>
            <ion-datetime formControlName="schedule_time" displayFormat="hh:mm a" pickerFormat="HH:mm" [min]="time_range.min" [max]="time_range.max">
            <!-- [hourValues]="hourValues" [minuteValues]="minuteValues"> -->
            </ion-datetime>
          </ion-item>
        </ion-col>
      </ion-row>

<!--     <ion-list *ngIf="take_today">
      <ion-list-header>
        Estimated Delivery Time
        <div class="list-sub-header">
          Availability for the current day
        </div>
      </ion-list-header>
      <item-group *ngIf="intime_schedule">
        <ion-item >
          <h2>Processing time:</h2>
          <h2 item-right>{{ listing.processing_time }}</h2>
        </ion-item>
        <ion-item>
          <ion-label>Set delivery time</ion-label>
          <ion-datetime formControlName="delivery_time" displayFormat="HH:mm" 
          hourValues="{{delivery_time_range}}" minuteValues="0,15,30,45">
          </ion-datetime>
        </ion-item>
      </item-group>
      <ion-item *ngIf="!intime_schedule" danger>
        <h2>Not available for today</h2>
      </ion-item>
    </ion-list> -->



<!--       <button ion-item *ngFor="let schedule of listing.schedule">
        <ion-row>
          <ion-col width-100 class="schedule-data">
            <div class="data-item">
              <div class="item-content">

                <h2 class="item-title ">
                  <ion-icon class="title-icon" ios="ios-calendar" md="md-calendar">
                  </ion-icon>
                  {{ schedule?.day }}
                </h2>

                <div class="item-description">
                  <h2 class="description-text">
                    <ion-icon class="description-icon" name="clock"></ion-icon>
                    <span class="description-label">From: </span>{{ schedule?.from_time }} -
                    <span class="description-label">To: </span>{{ schedule?.to_time }}
                  </h2>
                </div>

              </div>
            </div>
          </ion-col>
        </ion-row>
      </button> -->

    </ion-list>
  </form>

</ion-content>

<ion-footer>
	<ion-toolbar class="checkout-footer">
    <p ion-text>Total: {{formOrder.value.total_price | currency: listing.currency: true:'1.2-2' }}</p>
    <ion-buttons end>
  		<button ion-button class="checkout-button" (click)="checkoutOrder()" item-right  icon-left>
        <ion-icon item-left ios="ios-cart" md="md-cart"></ion-icon>
      	Checkout
      </button>
    </ion-buttons>
	</ion-toolbar>
</ion-footer>
