<!--
  Generated template for the ListingDetails page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Details</ion-title>
    <ion-buttons end>
	    <button ion-button icon-only color="royal" (click)="shareListing()">
	      <ion-icon ios="ios-share" md="md-share"></ion-icon>
	    </button>
	  </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content class="listing-content">

	<ion-card class="item-card-content">

    <ion-badge class="price-badge" item-right>
      {{ listing.price?.currency }}
      {{ listing.price?.main_price }}
    </ion-badge>

    <button class="favorite-button" ion-button clear>
      <ion-icon isActive="1" name='heart'></ion-icon>
    </button>

		<ion-slides (click)="presentImageModal()">
      <ion-slide *ngFor="let media of listing?.medias" style="background-color: white">
        <preload-image [ratio]="{w:3, h:2}" [src]="media.media_path" title="listing.title"></preload-image>
      </ion-slide>
    </ion-slides>

    <ion-card-content>
      <ion-card-title class="item-title">
        {{listing.title}}
      </ion-card-title>
      <p class="item-text">
        {{listing.summary}}
      </p> 
    </ion-card-content>

		<ion-chip class="chip-content" *ngIf="listing.delivery" text-center>
		   <ion-icon ios="ios-checkmark-circle" md="md-checkmark-circle"></ion-icon>
		  <ion-label>Delivery</ion-label>
		</ion-chip>
		<ion-chip class="chip-content"  *ngIf="listing.carryout" text-center>
		  <ion-icon ios="ios-checkmark-circle" md="md-checkmark-circle"></ion-icon>
		  <ion-label>Carryout</ion-label>
		</ion-chip>
    
    <ion-row no-padding class="social-row">
      <ion-col no-padding width-100>
        <rating [ngModel]="listing.total_rate" max="5" read-only="true"></rating>
        <button ion-button clear small icon-left>
          <ion-icon name='chatbubbles'></ion-icon>
          {{listing.total_reviews}} Reviews
        </button>
        <button ion-button clear small icon-left (click)="setAsFavorite()">
          <ion-icon isActive="1" name='heart'></ion-icon>
          Favorite
        </button>
      </ion-col>
    </ion-row>

    <ion-card-content>
      <ion-card-title class="item-title">
        About this Dish
      </ion-card-title>
      <p class="item-text">
        {{listing.description}}
      </p>
    </ion-card-content>

    <ion-item item-right class="item-profile">
      <ion-avatar item-left>
        <img src="{{listing.profile?.image}}">
      </ion-avatar>
      <h2>{{listing.profile?.fullName}}</h2>
      <p>{{listing.profile?.location}}</p>
    </ion-item>
  </ion-card>

  <ion-list>

  	<ion-item-divider>Location</ion-item-divider>
  	<section #map id="map" class="map-location">
  		<div id="map">
  		</div>
  	</section>

  	<ion-item-divider></ion-item-divider>
  	<ion-item no-lines>
			<ion-icon item-left class="description-icon" name="restaurant"></ion-icon>
      <ion-label> Serving per portion </ion-label>
      <h2 item-right>{{ listing.servings }} </h2>
  	</ion-item>

  	<ion-item-divider></ion-item-divider>
    <button ion-item (click)="showReviews()" no-lines>
    <ion-icon item-left name='chatbubbles'></ion-icon>
      <ion-label>Reviews ({{total_reviews}})</ion-label>
      <h1 item-right>
        <rating class="reviews-button-rate" [ngModel]="listing.total_rate" max="5" read-only="true"></rating>
      </h1>
    </button>  

<!--   	<ion-item no-lines>
  		<ion-icon item-left name='chatbubbles'></ion-icon>
      <ion-label>Reviews ({{total_reviews}})</ion-label>
      <h2 item-right>
        <rating [ngModel]="listing.total_rate" max="5" read-only="true"></rating>
			</h2>
  	</ion-item>	 -->

		<ion-item-divider> Schedule </ion-item-divider>
  	<ion-item *ngFor="let schedule of listing.schedule">
  		<ion-row>
		    <ion-col width-100 class="schedule-data">
		      <div class="data-item">
		        <div class="item-content">

		          <h2 class="item-title ">
		            <ion-icon class="title-icon" ios="ios-calendar" md="md-calendar">
		            </ion-icon>
		            {{ schedule?.day }}
		          </h2>

		          <div class="item-description">
		            <h2 class="description-text">
		              <ion-icon class="description-icon" name="clock"></ion-icon>
		              <span class="description-label">From: </span>{{ schedule?.from_time }} -
		              <span class="description-label">To: </span>{{ schedule?.to_time }}
		            </h2>
		          </div>

		        </div>
		      </div>
		    </ion-col>
		  </ion-row>
		</ion-item>

  </ion-list>

</ion-content>

<ion-footer>
	<ion-toolbar class="listing-detail-footer">
		<ion-row class="footer-row">
			<ion-col width-60>
				<div class="footer-text">
					{{ listing.price?.currency }}
     			{{ listing.price?.main_price }}
   			</div>
        <div class="footer-rate">
          <rating  [ngModel]="listing.total_rate" max="5" read-only="true"></rating>
        </div>
			</ion-col>
			<ion-col width-40>
				<button class="button-order" ion-button small icon-left (click)="presentOrderModal()">
		      <ion-icon name="restaurant" md="md-restaurant"></ion-icon>
		      Order
		  	</button>
			</ion-col>
		</ion-row>
	</ion-toolbar>
</ion-footer>
