// These are the forms and layout lists
@mixin basic-list-styles($text-color, $icon-color){

	ion-item-divider {
		padding: 15px 0px 0px 25px !important;
		margin: 0px;
		background-color: transparent !important;

		ion-label {
			color: $black-d;
			font-size: 1.4rem;
			text-transform: uppercase;
		}
	}

	ion-item {
		font-size: 1.6rem;
	}

/*	button	{
		color: $theme-color-2;
		@include justify-content(space-between);
	}*/

	.list-item {
		background-color: $white;
		/*padding: 20px;*/
		/*border: none;*/
		@include element-shadow();
		

		.item-inner	{
			/*border: none;*/
			background: none;
			padding: 0px;

			ion-label {
				margin: 0px;

				.item-title	{
					font-size: 1.6rem;
					letter-spacing: 1px;
					color: $text-color;
					margin: 0px;
					display: inline-block;
				}

				.item-note	{
					font-size: 1.4rem;
					letter-spacing: 1px;
					color: $text-color;
					margin: 0px;
					margin-left: 4px;
					display: inline-block;
				}
			}
		}

		.item-content {
			@include align-self(center);
		}

		.item-icon {
			text-align: right;
			color: $icon-color;

			ion-icon {
				font-size: 2.0em;
			}
		}


	}
}
