page-listing-images {


	ion-list{

		ion-item {
			@include basic-input-style(color($colors, background, base), $theme-color-3, $white-d);
			background-color: $theme-color-3;

			/*&.item {*/
				padding: 0px;

				preload-image {
					padding-bottom: 0px;
					border-radius: 5%;

					img	{
						border-radius: 5%;
					}
				}

				.item-inner	{
					text-align: center;
					ion-icon {
						color: $theme-color-2;
					}
				}
			/*}*/

		}

	}


		/*.images-list {
			@include layout-list-styles($theme-color-2, $white-d);

			ion-list {

				.item:first-child	{
					margin-top: 10px;
				}

				.list-item	{
					padding-top: 5px;
					padding-bottom: 5px;
	
					.content-row {
						@include align-items(center);
					}

					.item-content	{
						@include align-content(stretch);
				  	@include display(flex);
				  	@include flex-wrap(wrap);
				  	@include align-self(stretch);

						.item-title	{
							margin-bottom: 0px;
							overflow: hidden;
							text-overflow: ellipsis;
							white-space: nowrap;
						}

						.item-description	{
							@include multi-line-ellipsis($list-big-description-font-size);
						}
					}

				}
			}
		}

	}*/

}
