<ion-menu [content]="content" [swipeEnabled]="false" scroll="false">
  <ion-content class="side-menu-gradient">

    <ion-list class="menu-list">

      <ion-item class="profile-image">
          <img item-left class="image" src="{{profileImage}}">
          <h2>{{profileName}}</h2>
          <!-- <h4>{{profileLocation}}</h4> -->
      </ion-item>

      <button ion-item side-menu-item detail-none *ngFor="let page of pages" (click)="openPage(page)">
        <ion-icon *ngIf="page.icon" name="{{page.icon}}" item-left></ion-icon>
        {{page.title}}
      </button>
      <button ion-item side-menu-item detail-none (click)="logout()">
        <ion-icon name="log-out" item-left></ion-icon>
        Logout
      </button>
    </ion-list>

  </ion-content>
</ion-menu>

<ion-nav [root]="rootPage" #content swipe-back-enabled="false">
</ion-nav>
