<ion-header>

  <ion-navbar>
    <ion-title>My Listing</ion-title>
    <ion-buttons *ngIf="new_listing == false" end>
      <button ion-button (click)="saveListing()">
        save
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>

<ion-content  class="forms-content">

  <div *ngIf="new_listing">
    <form class="form-style" [formGroup]="typeForm">

      <section class="form-section">
        <h2 class="section-title">
          <p>Welcome! The first step is choose what kind of listing you are going to list.</p>
          You can list a plate, recipe where you as a chef will prepere this recipe for your customers
        </h2>
      </section>

      <ion-list class="radio-group" radio-group formControlName="listing_type">

        <ion-item-divider> Listing Type </ion-item-divider>
        <ion-item class="radio-item">
          <ion-label>Plate</ion-label>
          <ion-radio value="Plate"></ion-radio>
        </ion-item>

        <ion-item class="radio-item">
          <ion-label>Recipe</ion-label>
          <ion-radio value="Recipe"></ion-radio>
        </ion-item>

        <ion-item class="radio-item">
          <ion-label>Fresh</ion-label>
          <ion-radio value="Fresh"></ion-radio>
        </ion-item>

        <ion-item class="radio-item">
          <ion-label>Crafed</ion-label>
          <ion-radio value="Crafed"></ion-radio>
        </ion-item>

      </ion-list>

      <section class="form-section">
        <button ion-button block class="form-action-button create-post-button" (click)="nextListingForm()" [disabled]="!typeForm.valid">
          Next
        </button>
      </section>
    </form>

  </div>

  <div *ngIf="new_listing == false" class="forms-wrapper">
    <!-- Step 1 -->
    <form class="form-style" [formGroup]="step1Form">
      <section class="form-section">
        <h2 class="section-title">
          <p>Hi! Good pictures of your listing play a vary importante rule.</p>
          Choose the category and take some beautiful pictures, so then your custumer can see how delicious it is!
        </h2>

        <ion-item no-lines class="listing-type">
          <ion-label class="label-type">Listing type</ion-label>
          <h2 item-right>{{listing?.listing_type}}</h2>
        </ion-item>

        <button ion-button block large class="upload-image-button" (click)="cameraActionSheet()">
          <ion-icon name="camera"></ion-icon>
          <h3 class="button-title">Add images</h3>
        </button>

        <ion-scroll scrollX="true" class="horizontal-photos">
          <ion-row class="photos-row" no-lines>
            <ion-col width-50 *ngFor="let media of temp_medias">
              <ion-button clear (click)="presentImagesModal()">
                <preload-image [ratio]="{w:5, h:4}" [src]="media.media_path"></preload-image>
              </ion-button>
            </ion-col>
          </ion-row>
        </ion-scroll>
      </section>


      <section class="form-section">

        <ion-item no-lines class="category-select">
          <ion-label>Category</ion-label>
          <ion-select formControlName="category" multiple="false">
            <ion-option *ngFor="let option of categories" value="{{option.value}}">
              {{option.label}}
            </ion-option>
          </ion-select>
        </ion-item>

      </section>

      <ion-list class="form-list">

        <ion-item class="button-item" (click)="presentDescriptionModal()">
          <ion-icon  name="{{description_radio}}" item-left></ion-icon>
          <h2>Description</h2>
          <p>{{description_label}}</p>
          <ion-icon  ios="ios-arrow-forward" md="md-arrow-forward" item-right></ion-icon>
        </ion-item>

        <ion-item class="button-item" (click)="presentLocationModal()">
          <ion-icon  name="{{location_radio}}" item-left></ion-icon>
          <h2>Location</h2>
          <p>Only confirmed customers see your address</p>
          <ion-icon  ios="ios-arrow-forward" md="md-arrow-forward" item-right></ion-icon>
        </ion-item>

        <ion-item class="button-item" (click)="presentPriceModal()">
          <ion-icon  name="{{price_radio}}" item-left></ion-icon>
          <h2>Price</h2>
          <p>Set a price to yout listing</p>
          <ion-icon  ios="ios-arrow-forward" md="md-arrow-forward" item-right></ion-icon>
        </ion-item>

        <ion-item class="button-item" (click)="presentScheduleModal()">
          <ion-icon  name="{{schedule_radio}}" item-left></ion-icon>
          <h2>Schedule</h2>
          <p>Set the schedule</p>
          <ion-icon  ios="ios-arrow-forward" md="md-arrow-forward" item-right></ion-icon>
        </ion-item> 

        <ion-item class="button-item" (click)="presentDetailsModal()">
          <ion-icon  name="{{details_radio}}" item-left></ion-icon>
          <h2>Details</h2>
          <p>Set others details</p>
          <ion-icon  ios="ios-arrow-forward" md="md-arrow-forward" item-right></ion-icon>
        </ion-item> 
      </ion-list>

<!--       <section class="form-section">
        <button ion-button block class="form-action-button create-post-button" type="submit" (click)="saveListing()" [disabled]="!step1Form.valid">
          Save
        </button>
      </section> -->
      
    </form>
  </div>

</ion-content>
