<ion-header>

  <ion-navbar>
    <ion-title>My Listing</ion-title>
    <ion-buttons *ngIf="new_listing == false" end>
      <button ion-button (click)="saveListing()">
        save
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>

<ion-content class="forms-content">

  <div *ngIf="new_listing">
    <form class="form-style" [formGroup]="typeForm">

      <section class="form-section">
        <h2 class="section-title">
          <p>Welcome!</p>
          The first step is to choose what type of product you are listing.
        </h2>
      </section>

      <ion-list class="radio-group" radio-group formControlName="listing_type">

        <ion-item-divider> Listing Type </ion-item-divider>
        <ion-item class="radio-item">
          <ion-label>
            Dish
            <div class="listing-type-info">
              <p>A ready to eat meal from local restaurant </p>
              <p>or chefs and listed as a item.</p>
            </div>
          </ion-label>
          <ion-radio value="Dish"></ion-radio>
        </ion-item>

        <ion-item class="radio-item">
          <ion-label>
            Pantry
            <div class="listing-type-info">
              <p>A pantry ingredient such as spices, herbs,</p>
              <p>o cans and so on.</p>
            </div>
          </ion-label>
          <ion-radio value="Pantry"></ion-radio>
        </ion-item>

        <ion-item class="radio-item">
          <ion-label>
            Bakery
            <div class="listing-type-info">
              <p>Bakery Products, like brands, cakes,</p>
              <p>croquette, snacks.</p>
            </div>
          </ion-label>
          <ion-radio value="Bakery"></ion-radio>
        </ion-item>

        <ion-item class="radio-item">
          <ion-label>
            Farm fresh
            <div class="listing-type-info">
              <p>Farm fresh products, such as fruits,</p>
              <p>vegetables or ham.</p>
            </div>
          </ion-label>
          <ion-radio value="Farm"></ion-radio>
        </ion-item>

      </ion-list>

      <section class="form-section">
        <button ion-button block class="form-action-button create-post-button" (click)="nextListingForm()" [disabled]="!typeForm.valid">
          Next
        </button>
      </section>
    </form>

  </div>

  <div *ngIf="new_listing == false">
    <!-- Step 1 -->
    <form class="form-style">
      <section class="form-section">
        <h2 class="section-title">
          <p>Hi! Good pictures of your listing play a vary importante rule.</p>
          Choose the category and take some beautiful pictures, so then your custumer can see how delicious it is!
        </h2>

        <button ion-button block large class="upload-image-button" (click)="cameraActionSheet()">
          <ion-icon name="camera"></ion-icon>
          <h3 class="button-title">Add images</h3>
        </button>

        <ion-scroll scrollX="true" class="horizontal-photos">
          <ion-row class="photos-row" no-lines>
            <ion-col width-50 *ngFor="let media of temp_medias">
              <ion-button clear (click)="presentImagesModal()">
                <preload-image [ratio]="{w:5, h:4}" [src]="media.media_path"></preload-image>
              </ion-button>
            </ion-col>
          </ion-row>
        </ion-scroll>
      </section>


      <section class="form-section">
        <ion-item no-lines class="listing-type">
          <ion-label class="label-type">Listing type</ion-label>
          <h2 item-right>{{listing?.listing_type}}</h2>
        </ion-item>

<!--         <ion-item no-lines class="category-select">
          <ion-label>Category</ion-label>
          <ion-select formControlName="category" multiple="false">
            <ion-option *ngFor="let option of categories" value="{{option.value}}">
              {{option.label}}
            </ion-option>
          </ion-select>
        </ion-item> -->

      </section>

      <ion-list class="form-list">
        <ion-item class="button-item" (click)="presentCategoriesModal()">
          <ion-icon  name="{{formControlRadio.categories}}" item-left></ion-icon>
          <h2>Cetegories</h2>
          <p>Set the categories to your listing </p>
          <ion-icon  ios="ios-arrow-forward" md="md-arrow-forward" item-right></ion-icon>
        </ion-item>

        <ion-item class="button-item" (click)="presentDescriptionModal()">
          <ion-icon  name="{{formControlRadio.description}}" item-left></ion-icon>
          <h2>Description</h2>
          <p>{{formControlRadio.description_label}}</p>
          <ion-icon  ios="ios-arrow-forward" md="md-arrow-forward" item-right></ion-icon>
        </ion-item>

        <ion-item class="button-item" (click)="presentLocationModal()">
          <ion-icon  name="{{formControlRadio.location}}" item-left></ion-icon>
          <h2>Location</h2>
          <p>Only confirmed customers see your address.</p>
          <ion-icon  ios="ios-arrow-forward" md="md-arrow-forward" item-right></ion-icon>
        </ion-item>

        <ion-item class="button-item" (click)="presentPriceModal()">
          <ion-icon  name="{{formControlRadio.price}}" item-left></ion-icon>
          <h2>Price</h2>
          <p>Set a price to your listing.</p>
          <ion-icon  ios="ios-arrow-forward" md="md-arrow-forward" item-right></ion-icon>
        </ion-item>

        <ion-item class="button-item" (click)="presentScheduleModal()">
          <ion-icon  name="{{formControlRadio.schedule}}" item-left></ion-icon>
          <h2>Schedule</h2>
          <p>Set the schedule to your listing.</p>
          <ion-icon  ios="ios-arrow-forward" md="md-arrow-forward" item-right></ion-icon>
        </ion-item> 

        <ion-item class="button-item" (click)="presentDetailsModal()">
          <ion-icon  name="{{formControlRadio.details}}" item-left></ion-icon>
          <h2>Details</h2>
          <p>Set details like shipping options.</p>
          <ion-icon  ios="ios-arrow-forward" md="md-arrow-forward" item-right></ion-icon>
        </ion-item>

      </ion-list>

      <ion-list>
        <ion-item-divider *ngIf="publish_disabled">
          <p>Complete your listing to publish it.</p>
        </ion-item-divider>

        <section class="form-section" *ngIf="listing?.published">
          <h2 class="section-title">
            This item it's published.
          </h2>
        </section>

        <section class="form-section" *ngIf="listing?.published == false">
          <button ion-button block class="form-action-button create-post-button" (click)="publishListing()" [disabled]="publish_disabled">
            Publish this item
          </button>
        </section>

        <section class="form-section" *ngIf="listing?.published">
          <button ion-button block class="form-action-button create-post-button" (click)="publishListing()" [disabled]="publish_disabled">
            Update item
          </button>
        </section>

        <section class="form-section" *ngIf="listing?.published">
          <button ion-button block class="form-action-button create-post-button" [disabled]="publish_disabled">
            Unpublish this item
          </button>
        </section>


      </ion-list>

<!--       <section class="form-section">
        <button ion-button block class="form-action-button create-post-button" type="submit" (click)="saveListing()" [disabled]="!step1Form.valid">
          Save
        </button>
      </section> -->

      
    </form>
  </div>

</ion-content>
