<!--
  Generated template for the UserListing page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>user-listing</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
<!--  <div class="list-item" *ngFor="let post of profile.posts">
        <span class="item-date">{{post.date}}</span>
        <ion-card>
          <preload-image [ratio]="{w:1, h:1}" [src]="post.image" title=""></preload-image>
          <ion-card-content>
            <p class="item-text">
              {{post.description}}
            </p>
          </ion-card-content>
          <ion-row no-padding class="actions-row">
            <ion-col no-padding width-30 text-left>
              <button class="action-button" ion-button clear small color="danger" icon-left>
                <ion-icon isActive="{{post.liked}}" name='heart'></ion-icon>
                  {{post.likes}} Likes
              </button>
            </ion-col>
            <ion-col no-padding width-45 text-center>
              <button class="action-button" ion-button clear small color="danger" icon-left>
                <ion-icon name='chatbubbles'></ion-icon>
                  {{post.comments}} Comments
              </button>
            </ion-col>
            <ion-col no-padding width-25 text-right>
              <button class="action-button" ion-button clear small color="danger" icon-left>
                <ion-icon name='share-alt'></ion-icon>
                Share
              </button>
            </ion-col>
          </ion-row>
        </ion-card>
      </div> -->

 <!-- <ion-col width-33 class="grid-item" *ngFor="let post of profile.posts">
        <preload-image [ratio]="{w:1, h:1}" [src]="post.image" title="Yuplate"></preload-image>
      </ion-col> 

    </div>
      -->

</ion-content>
