<ion-header class="listing-header">
  <ion-navbar>

    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
      <!-- <ion-icon ios="ios-contact" md="md-contact"></ion-icon> -->
      <!-- <ion-icon ios="ios-arrow-back" md="md-arrow-back"></ion-icon> -->
    </button>
    <ion-title>My orders</ion-title>
<!--     <ion-buttons end>
      <button ion-button icon-only color="royal">
        <ion-icon name="md-chatboxes"></ion-icon>
      </button>
    </ion-buttons> -->

  </ion-navbar>
</ion-header>

<ion-content class="list-content" scroll="false">
  <ion-list>
    <ion-list-header>
      Open Orders
    </ion-list-header>

    <button class="list-item" ion-item *ngFor="let order of orders" (click)="showOrderDetails(order)">
      <ion-row>
        <ion-col width-30>
          <preload-image [ratio]="{w:1, h:1}" [src]="order.listing_snapshot.medias[0].media_path">
          </preload-image>
        </ion-col>
        <ion-col widht-70>
          <h2 text-left>{{ order.listing_snapshot.title }}</h2>
          <h2 text-left>Quantity: {{ order.quantity }}</h2>
          <h2 text-left *ngIf="show_delivery_fee">
            <!-- Implemente currency pipi!! -->
            {{ order.listing_snapshot.delivery_fee | currency: order.listing_snapshot.currency: true:'1.2-2' }}
          </h2>
          <div class="price-label" item-right>
            <!-- Implemente currency pipi!! -->
            Price: 
            {{ order.subtotal | currency: order.listing_snapshot.currency: true:'1.2-2' }}
          </div>

          <h2  class="delivery-schedule" text-left>{{ order.schedule }}</h2>
        </ion-col>
      </ion-row>
    </button>
  </ion-list>

  <ion-list>
    <ion-list-header>
      Finished Orders
    </ion-list-header>
  </ion-list>

</ion-content>
