page-profile-orders {

	.list-content{
		background-color: color($colors, background, base);

		@include basic-input-style($white, $input-color, $white-d);
		.text-input {
			padding-right: 5px;
			text-align: right;
		}

		.price-label {
			padding: 0px;
			margin: 0px;
			color: $theme-color-2;
			font-size: 1.4rem;
			/*font-weight: 00;*/
			content: " USD";
		}

		.list-sub-header {
			font-size: 1.2rem;
			font-weight: 400;
			color: $text-color;
			text-transform: none;
		}

		.checkout-actions {
			margin: 0px;
			padding: 0px;

			.button {
				color: $theme-color-2;
			}
		}

		.delivery-schedule {
			color: $positive-text;
			font-size: 1.4rem;
			font-weight: 300;
		}

	}

}
