signup-page {
	.signup-content {

		.forms-segment{
			padding: 4px 0px;
			background-color: $white;
			@include element-shadow();

			@include segment-button-styles($theme-color-2);

			.segment-button	{
				@include segment-text-styles($white-d);
			}
		}


		.legal-stuff
		{
			color: $white-d;
			text-align: center;
			margin: 10px 12px;

			.legal-action
			{
				font-weight: 500;
				color: $theme-color-2;
			}
		}
	}
}
