page-listing-form-price {

	.form-content {
		background-color: $white-a;

		.form-style {

			.form-section	{
				padding: 14px 10px;

				.item:first-child	{
					margin-top: 10px;
				}
			}

			.section-title {
				@include segment-introduction($theme-color-2);
			}

			ion-item {
				@include basic-input-style(color($colors, background, base), $input-color, $white-d);

				&.item {
					background-color: $white;
					
					.item-inner	{
						ion-icon {
							color: $theme-color-2;
						}
					}

				}

				&:first-of-type {
					margin-top: 0px;
				}
			}
			
			ion-label{
				margin: 0px;
				font-size: 1.6rem;
				letter-spacing: 0.9px;
				color: $black-c;
			}

			ion-item-divider {
				padding: 10px 0px 0px 10px !important;
				margin: 0px;
				background-color: transparent !important;

				ion-label {
					font-size: 1.4rem;
				}
			}

			.form-action-button	{
				margin: 0px;
				margin-top: 10px;

				@include call-to-action-button-styles(color($colors, button, base), color($colors, button, contrast));
			}
		}

	}

}
